<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073165062243-7okpit83e1929h7nrm7tdrqvovtubcik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073165062243-7okpit83e1929h7nrm7tdrqvovtubcik</string>
	<key>API_KEY</key>
	<string>AIzaSyDEAUjWy2gAFYpAHVibDhnKohzlXm90ZU8</string>
	<key>GCM_SENDER_ID</key>
	<string>1073165062243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MustafaKemalOzen.instaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instclonefirebase-ff544</string>
	<key>STORAGE_BUCKET</key>
	<string>instclonefirebase-ff544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073165062243:ios:4e2b7385ec690f10f56856</string>
</dict>
</plist>